*,
*:after,
*:before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: #606c76;
  letter-spacing: .01em;
  line-height: 1.6; }

p {
  font-size: 14px;
  font-family: Helvetica; }

/*.button, */
.acura, .audi, .buick, .bmw, .cadillac, .chevy, .fiat, .ford, .gmc, .honda, .hyundai, .infiniti, .kia, .lexus, .lincoln, .maserati, .mazda, .mini, .mb, .mitsubishi, .nissan, .subaru, .toyota, .volvo, .vw {
  color: #FFFFFF;
  background: transparent;
  border: 1px solid #9b4dca;
  padding: 15px 20px;
  width: 100%;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #9b4dca;
  -webkit-transition: all ease 0.3;
  -moz-transition: all ease 0.3;
  transition: all ease 0.3; }
  .acura:focus, .audi:focus, .buick:focus, .bmw:focus, .cadillac:focus, .chevy:focus, .fiat:focus, .ford:focus, .gmc:focus, .honda:focus, .hyundai:focus, .infiniti:focus, .kia:focus, .lexus:focus, .lincoln:focus, .maserati:focus, .mazda:focus, .mini:focus, .mb:focus, .mitsubishi:focus, .nissan:focus, .subaru:focus, .toyota:focus, .volvo:focus, .vw:focus, .acura:hover, .audi:hover, .buick:hover, .bmw:hover, .cadillac:hover, .chevy:hover, .fiat:hover, .ford:hover, .gmc:hover, .honda:hover, .hyundai:hover, .infiniti:hover, .kia:hover, .lexus:hover, .lincoln:hover, .maserati:hover, .mazda:hover, .mini:hover, .mb:hover, .mitsubishi:hover, .nissan:hover, .subaru:hover, .toyota:hover, .volvo:hover, .vw:hover {
    box-shadow: inset 0 50px 0 0 #732e9c; }

.ca-container {
  margin: 0 auto;
  padding: 0 2.0rem;
  position: relative;
  width: 100%;
    width-font-family: Helvetica; }

.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%; }
  .row.row-no-padding {
    padding: 0; }
    .row.row-no-padding > .column {
      padding: 0; }
  .row.row-wrap {
    flex-wrap: wrap; }
  .row.row-top {
    align-items: flex-start; }
  .row.row-bottom {
    align-items: flex-end; }
  .row.row-center {
    align-items: center; }
  .row.row-stretch {
    align-items: stretch; }
  .row.row-baseline {
    align-items: baseline; }
  .row .column {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%; }
    .row .column.column-offset-10 {
      margin-left: 10%; }
    .row .column.column-offset-20 {
      margin-left: 20%; }
    .row .column.column-offset-25 {
      margin-left: 25%; }
    .row .column.column-offset-33, .row .column.column-offset-34 {
      margin-left: 33.3333%; }
    .row .column.column-offset-50 {
      margin-left: 50%; }
    .row .column.column-offset-66, .row .column.column-offset-67 {
      margin-left: 66.6666%; }
    .row .column.column-offset-75 {
      margin-left: 75%; }
    .row .column.column-offset-80 {
      margin-left: 80%; }
    .row .column.column-offset-90 {
      margin-left: 90%; }
    .row .column.column-10 {
      flex: 0 0 10%;
      max-width: 10%; }
    .row .column.column-20 {
      flex: 0 0 20%;
      max-width: 20%; }
    .row .column.column-25 {
      flex: 0 0 25%;
      max-width: 25%; }
    .row .column.column-33, .row .column.column-34 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%; }
    .row .column.column-40 {
      flex: 0 0 40%;
      max-width: 40%; }
    .row .column.column-50 {
      flex: 0 0 50%;
      max-width: 50%; }
    .row .column.column-60 {
      flex: 0 0 60%;
      max-width: 60%; }
    .row .column.column-66, .row .column.column-67 {
      flex: 0 0 66.6666%;
      max-width: 66.6666%; }
    .row .column.column-75 {
      flex: 0 0 75%;
      max-width: 75%; }
    .row .column.column-80 {
      flex: 0 0 80%;
      max-width: 80%; }
    .row .column.column-90 {
      flex: 0 0 90%;
      max-width: 90%; }
    .row .column .column-top {
      align-self: flex-start; }
    .row .column .column-bottom {
      align-self: flex-end; }
    .row .column .column-center {
      align-self: center; }

@media (min-width: 40rem) {
  .row {
    flex-direction: row;
    margin-left: -1.0rem;
    width: calc(100% + 2.0rem); }
    .row .column {
      margin-bottom: inherit;
      padding: 0 1.0rem; } }

.button,
button,
dd,
dt,
li {
  margin-bottom: 1.0rem; }

fieldset,
input,
select,
textarea {
  margin-bottom: 1.5rem; }

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 2.5rem; }

.ca-responsive {
  max-width: 100%; }

.acura {
  border: 1px solid #e82c2a;
  background: #e82c2a; }
  .acura:hover {
    background: #b21513;
    box-shadow: inset 0 50px 0 0 #b21513; }
  .acura:active {
    background: #b21513; }

.audi {
  border: 1px solid #cd1f35;
  background: #cd1f35; }
  .audi:hover {
    background: #8b1524;
    box-shadow: inset 0 50px 0 0 #8b1524; }
  .audi:active {
    background: #8b1524; }

.buick {
  border: 1px solid #f26518;
  background: #f26518; }
  .buick:hover {
    background: #b3460a;
    box-shadow: inset 0 50px 0 0 #b3460a; }
  .buick:active {
    background: #b3460a; }

.bmw {
  border: 1px solid #1c69d4;
  background: #1c69d4; }
  .bmw:hover {
    background: #134890;
    box-shadow: inset 0 50px 0 0 #134890; }
  .bmw:active {
    background: #134890; }

.cadillac {
  border: 1px solid #9e1834;
  background: #9e1834; }
  .cadillac:hover {
    background: #5c0e1e;
    box-shadow: inset 0 50px 0 0 #5c0e1e; }
  .cadillac:active {
    background: #5c0e1e; }

.chevy {
  border: 1px solid #f1b923;
  background: #f1b923; }
  .chevy:hover {
    background: #bc8c0c;
    box-shadow: inset 0 50px 0 0 #bc8c0c; }
  .chevy:active {
    background: #bc8c0c; }

.fiat {
  border: 1px solid #b11636;
  background: #b11636; }
  .fiat:hover {
    background: #6d0e21;
    box-shadow: inset 0 50px 0 0 #6d0e21; }
  .fiat:active {
    background: #6d0e21; }

.ford {
  border: 1px solid #2D96CD;
  background: #2D96CD; }
  .ford:hover {
    background: #1f688e;
    box-shadow: inset 0 50px 0 0 #1f688e; }
  .ford:active {
    background: #1f688e; }

.gmc {
  border: 1px solid #BC0A0F;
  background: #BC0A0F; }
  .gmc:hover {
    background: #730609;
    box-shadow: inset 0 50px 0 0 #730609; }
  .gmc:active {
    background: #730609; }

.honda {
  border: 1px solid #2086c1;
  background: #2086c1; }
  .honda:hover {
    background: #15587f;
    box-shadow: inset 0 50px 0 0 #15587f; }
  .honda:active {
    background: #15587f; }

.hyundai {
  border: 1px solid #002D73;
  background: #002D73; }
  .hyundai:hover {
    background: #000f27;
    box-shadow: inset 0 50px 0 0 #000f27; }
  .hyundai:active {
    background: #000f27; }

.infiniti {
  border: 1px solid #201d26;
  background: #201d26; }
  .infiniti:hover {
    background: black;
    box-shadow: inset 0 50px 0 0 black; }
  .infiniti:active {
    background: black; }

.kia {
  border: 1px solid #c4172c;
  background: #c4172c; }
  .kia:hover {
    background: #800f1d;
    box-shadow: inset 0 50px 0 0 #800f1d; }
  .kia:active {
    background: #800f1d; }

.lexus {
  border: 1px solid #1a1a1a;
  background: #1a1a1a; }
  .lexus:hover {
    background: black;
    box-shadow: inset 0 50px 0 0 black; }
  .lexus:active {
    background: black; }

.lincoln {
  border: 1px solid #231F1F;
  background: #231F1F; }
  .lincoln:hover {
    background: black;
    box-shadow: inset 0 50px 0 0 black; }
  .lincoln:active {
    background: black; }

.maserati {
  border: 1px solid #0b2749;
  background: #0b2749; }
  .maserati:hover {
    background: #010307;
    box-shadow: inset 0 50px 0 0 #010307; }
  .maserati:active {
    background: #010307; }

.mazda {
  border: 1px solid #df0000;
  background: #df0000; }
  .mazda:hover {
    background: #930000;
    box-shadow: inset 0 50px 0 0 #930000; }
  .mazda:active {
    background: #930000; }

.mini {
  border: 1px solid #ac2430;
  background: #ac2430; }
  .mini:hover {
    background: #6d171e;
    box-shadow: inset 0 50px 0 0 #6d171e; }
  .mini:active {
    background: #6d171e; }

.mb {
  border: 1px solid #222222;
  background: #222222; }
  .mb:hover {
    background: black;
    box-shadow: inset 0 50px 0 0 black; }
  .mb:active {
    background: black; }

.mitsubishi {
  border: 1px solid #ff0022;
  background: #ff0022; }
  .mitsubishi:hover {
    background: #b30018;
    box-shadow: inset 0 50px 0 0 #b30018; }
  .mitsubishi:active {
    background: #b30018; }

.nissan {
  border: 1px solid #c3002f;
  background: #c3002f; }
  .nissan:hover {
    background: #77001d;
    box-shadow: inset 0 50px 0 0 #77001d; }
  .nissan:active {
    background: #77001d; }

.subaru {
  border: 1px solid #20609F;
  background: #20609F; }
  .subaru:hover {
    background: #133a5f;
    box-shadow: inset 0 50px 0 0 #133a5f; }
  .subaru:active {
    background: #133a5f; }

.toyota {
  border: 1px solid #d71921;
  background: #d71921; }
  .toyota:hover {
    background: #921116;
    box-shadow: inset 0 50px 0 0 #921116; }
  .toyota:active {
    background: #921116; }

.volvo {
  border: 1px solid #003057;
  background: #003057; }
  .volvo:hover {
    background: #00060b;
    box-shadow: inset 0 50px 0 0 #00060b; }
  .volvo:active {
    background: #00060b; }

.vw {
  border: 1px solid #00B1EB;
  background: #00B1EB; }
  .vw:hover {
    background: #00779f;
    box-shadow: inset 0 50px 0 0 #00779f; }
  .vw:active {
    background: #00779f; }

.clearfix:after {
  clear: both;
  content: ' ';
  display: table; }

.float-left {
  float: left; }

.float-right {
  float: right; }
